%% Здесь будут лежать зависимости
{deps_dir, ["deps"]}.

%% Поддиректории, в которые rebar должен заглядывать
{sub_dirs, ["rel", "apps/ntopng_mysql"]}.

%% Опции компилятора
{erl_opts, [{parse_transform, lager_transform}, debug_info, fail_on_warning]}.

%% Список зависимостей
%% В директорию gproc будет клонирована ветка master соответствующего git-репозитория.
{deps,
 [
  {lager, ".*", {git, "git://github.com/basho/lager.git",    "b6b6cebcb27ccff8acc59ae775acebc2f52e4926"}},
  {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git", "5cd89c1eda3801bdef790b1e7c0e09259332c0fc"}}, 
  {mysql, ".*", {git, "https://github.com/mysql-otp/mysql-otp", {tag, "1.3.2"}}}
 ]}.

